.parallax {
  /* The image used */
  background-image: url("../Assets/Images/barrys3.png");

  /* Set a specific height */
  min-height: 800px;
  max-height: 1500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% !important;
}

.paraPort {
  /* The image used */
  background-image: url("../Assets/Images/barrys3.png");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% !important;
}

.banner-image {
  background-image: url("../Assets/Images/barrys3.png");
  height: 400px;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-bottom: 20px;
}

/* start nav bar */
nav {
  background-color: white !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #6c757d;
}
.navbar-dark .navbar-brand {
  color: #6c757d;
}
/* end nav bar */

body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  background-size: cover;
}

p {
  color: grey;
}
h1,
h2 {
  color: #6c757d !important;
  font-family: "Fira Sans", sans-serif;
  font-family: "Secular One", sans-serif;
}

.container {
  position: relative;
  /* min-height: 100vh; */
}

.about-me-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  opacity: 50%;
  border-radius: 10px;
}

#aboutmeText {
  color: grey;
  text-align: center;
  /* width: 500px; */
  /* margin-left: 220px; */
}

.aboutMeDivText {
  margin: auto;
  width: 50%;
  text-align: center;
  /* border: 3px solid green; */
  padding: 10px;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.social-media-img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
}

.card-footer {
  background-color: white;
  text-align: center;
  position: relative;
  bottom: 0px;
  height: 150px;
  border-top: none;
  /* color: whitesmoke; */
}
.img-thumbnail {
  width: 300px;
}

.portTitle {
  color: #6c757d !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-port {
  width: 75%;
  padding: 50px;
  margin-top: 50px;
  margin-left: 12.5%;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
}

.githubLink {
  color: #6c757d;
  padding-top: 5px;
  padding-left: 5px;
}

button {
  width: 180px;
  height: 50px;
  margin-left: 17.5%;
  margin-top: 10px;
}

#pdfDownload {
  padding-top: 10px;
  font-size: 12px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media screen and (min-width: 400px) {
  .parallax {
    height: 100%;
    background-size: 90%;
    /* margin-left: 50px; */
  }
}
